@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-weight: 300;

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
    background-color: #FFFBF5;
}

p {
    width: 80%;
}

.segment-title::first-letter {
    color: aquamarine;
}

p,h1,h2 {
    text-decoration-color: aquamarine;
}

button {
    width: 40%;
    height: 15%;
    
    font-size: 1.2em;
    font-weight: 600;

    background: transparent;
    border: 1px solid #7298AD;
    color: #7298AD;

    transition: 0.4s;
}

button:hover {
    background-color: #7298AD;
    color: white;
}